@model TableTop2017CoreWeb.Models.Player

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="BattleScore" class="control-label"></label>
                <input asp-for="BattleScore" value="0" class="form-control" />
                <span asp-validation-for="BattleScore" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="SportsmanshipScore" class="control-label"></label>
                <input asp-for="SportsmanshipScore" value="0" class="form-control" />
                <span asp-validation-for="SportsmanshipScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Army" class="control-label"></label>
                <input asp-for="Army" class="form-control" />
                <span asp-validation-for="Army" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArmyScore" class="control-label"></label>
                <input asp-for="ArmyScore" class="form-control" />
                <span asp-validation-for="SportsmanshipScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Bye" /> @Html.DisplayNameFor(model => model.Bye)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
