@model TableTop2017CoreWeb.Models.RoundMatchups

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>RoundMatchups</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="roundNo" class="control-label"></label>
                <input asp-for="roundNo" class="form-control" />
                <span asp-validation-for="roundNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="battleScore" class="control-label"></label>
                <input asp-for="battleScore" class="form-control" />
                <span asp-validation-for="battleScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sportsmanshipPoints" class="control-label"></label>
                <input asp-for="sportsmanshipPoints" class="form-control" />
                <span asp-validation-for="sportsmanshipPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="table" class="control-label"></label>
                <input asp-for="table" class="form-control" />
                <span asp-validation-for="table" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

