@model TableTop2017CoreWeb.Models.PairRoundMatchupEditViewModel

@{
    ViewData["Title"] = "ResultsEdit";
}

<h2>ResultsEdit</h2>

<h4>RoundMatchups</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="PairRoundMatchupEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RoundNo" />
            <input type="hidden" asp-for="Table" />
            <input type="hidden" asp-for="PlayerOneId" />
            <input type="hidden" asp-for="PlayerTwoId" />
            <input type="hidden" asp-for="PlayerThreeId" />
            <input type="hidden" asp-for="PlayerFourId" />=
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="PlayerOneSportsmanshipScore" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="PlayerOneBattleScore" class="control-label"></label>
                        </th>
                        <th>
                            Team One
                        </th>
                        <th>
                            Team Two
                        </th>
                        <th>
                            <label asp-for="PlayerThreeBattleScore" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="PlayerThreeSportsmanshipScore" class="control-label"></label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="form-group">
                            <input asp-for="PlayerOneSportsmanshipScore" class="form-control" />
                            <span asp-validation-for="PlayerOneSportsmanshipScore" class="text-danger"></span>
                        </td>
                        <td class="form-group">
                            <input asp-for="PlayerOneBattleScore" class="form-control" />
                            <span asp-validation-for="PlayerOneBattleScore" class="text-danger"></span>
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.PlayerOneName)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.PlayerThreeName)
                        </th>
                        <td class="form-group">
                            <input asp-for="PlayerThreeBattleScore" class="form-control" />
                            <span asp-validation-for="PlayerThreeBattleScore" class="text-danger"></span>
                        </td>
                        <td class="form-group">
                            <input asp-for="PlayerThreeSportsmanshipScore" class="form-control" />
                            <span asp-validation-for="PlayerThreeSportsmanshipScore" class="text-danger"></span>
                        </td>
                        <td class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </td>
                    </tr>
                    <tr>
                        <td class="form-group">
                            <input asp-for="PlayerTwoSportsmanshipScore" class="form-control" />
                            <span asp-validation-for="PlayerTwoSportsmanshipScore" class="text-danger"></span>
                        </td>
                        <td class="form-group">
                            <input asp-for="PlayerTwoBattleScore" class="form-control" />
                            <span asp-validation-for="PlayerTwoBattleScore" class="text-danger"></span>
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.PlayerTwoName)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.PlayerFourName)
                        </th>
                        <td class="form-group">
                            <input asp-for="PlayerFourBattleScore" class="form-control" />
                            <span asp-validation-for="PlayerFourBattleScore" class="text-danger"></span>
                        </td>
                        <td class="form-group">
                            <input asp-for="PlayerFourSportsmanshipScore" class="form-control" />
                            <span asp-validation-for="PlayerFourSportsmanshipScore" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

